

<%= builder.input :day_array, collection: dayname_collection, label: false,  input_html: {
  multiple: true, disabled: coming_events, class: 'selectpicker', title: t('event_series.form.choose_days')
}  %>
<%= builder.input :rule,
collection: [
  [t('event_series.form.every_week'), 'weekly'],
  [t('event_series.form.every_other_odd_week'), 'biweekly_odd'],
  [t('event_series.form.every_other_even_week'), 'biweekly_even'],
  [t('event_series.form.first_in_month'), 'first'],
  [t('event_series.form.second_in_month'), 'second'],
  [t('event_series.form.third_in_month'), 'third'],
  [t('event_series.form.last_in_month'), 'last'],
  ],
  selected: 'weeks', label: false,
  input_html: { class: 'selectpicker', disabled: coming_events }
  %>

<div class='form-inline row-fluid'>

<%= builder.input :start_time, as: :time, minute_step: 15 %>
<%= builder.input :end_time, as: :time, minute_step: 15 %>
</div>
<div class='form-inline row-fluid'>
  <%# Not allowed to make events more than 3 months in the future %>
  <% max_date = (DateTime.now + 6.months).strftime('%Y/%m/%d') %>
  <%= builder.input :start_date, as: :string, input_html: {
    disabled: builder.object.try(:persisted?), data: {
      function: 'datetime-picker', date_format: 'YYYY/MM/DD',
      language: I18n.locale, calendar_weeks: true, disabled_hours: true,
      max_date: max_date, role: 'start-time', listener: '#event_series_expiry'
    }}
    %>

    <%= builder.input :expiry, as: :string, input_html: {
       data: { function: 'datetime-picker', date_format: 'YYYY/MM/DD',
       language: I18n.locale, calendar_weeks: true, disabled_hours: true,
       max_date: max_date
     }}
     %>
     <p class="text-info">
      <%= t('event_series.form.date_explanation') %>
    </p>
  </div>
