<div class="event_show">
  <h1><%= @event_series.title %></h1>
  <%= image_tag @event_series.picture.url(:original) if @event_series.picture.present? %>
  <h4>
    <%= link_to(@event_series.location.full_address, location_path(@event_series.location)) %>
  </h4>
  <% if @event_series.price.present? %>
      <p><strong><%= t 'simple_form.labels.event.price' %>: </strong><%= @event_series.price %></p>
  <% end %>

  <p>
    <%= simple_format(@event_series.description) %>
  </p>

  <p><%= display_repetition_rule(@event_series)%></p>


  <% if @event_series.link.present? %>
      <p>
        <%= link_to(t('.link'), @event_series.link) %>
      </p>
  <% end %>
  <% if current_user && current_user.can_edit?(@event_series) %>
      <div class="hidden-xs">
        <%= link_to t(:edit), edit_event_series_path(@event_series) %> |
        <%= link_to t('event_series.delete_events_link'), delete_events_event_series_path(@event_series), method: :delete, data: { confirm: t('event_series.delete_events_warning', number: @event_series.events.size) } %> |
        <%= link_to t('.delete'), event_series_path(@event_series), method: :delete, data: { confirm: t('.delete_warning', num: @event_series.events.size)} %> |
      </div>
  <% end %>

  <%= render partial: 'calendar/day', collection: @calendar.days  %>
</div>