		<div class="day row" id="<%= id %>" data-role="day">
			<div class="col-xs-12">
				<h2>
                    <% if defined? day.date %>
					    <%= format_date(day.date) %>
                    <% else %>
                        <%= t '.in_progress' %>
                    <% end %>
  					<span data-role="day-event-count">(<%= day.events.length %>)</span>
				</h2>
			</div>
			<div class="row">
				<div class="events-by-date_js col-xs-12">
					<div class="row">
 						<% day.events.each do |event| %>
  						<%= render partial: 'events/event', object: event, locals: { parent_id: id } %>
						<% end %>
					</div>
				</div>
			</div>
		</div>