<%= link_to t('.new_event'), new_event_path %>
<%= render partial: 'filter_options',
           locals: {filter_categories: @calendar.filter_categories,
                    filter_locations: @calendar.filter_locations }
%>

<h2><%= "#{t '.in_progress'} (#{@calendar.in_progress.events.length})" %></h2>
<% @calendar.in_progress.each do |event| %>
    <%= render partial: 'events/event', object: event  %>
<% end %>

<% @calendar.days.each do |day| %>
    <%= render partial: 'day', object: day  %>
<% end %>