<% @posts.each do |post| %>
    <% cache post do %>
        <div class="alert alert-info center-block">
          <%= link_to(post.title, post) %>
        </div>
    <% end %>
<% end %>

<div class="container">
  <div class="row featured-container">
    <% if @calendar.highlights.size > 0 %>
        <%= render partial: 'highlights', object: @calendar.highlights %>
    <% end %>

    <% if @calendar.weekly.size > 0 %>
        <%= render partial: 'weekly', object: @calendar.weekly %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h2 class="section-heading">
      <%= t('.title')%>
    </h2>
    <div class="row hidden center-block" data-role="filter-description">
      <%= t '.describe_filters' %>
    </div>
  </div>
  <%= render partial: 'filter_options',
             locals: {filter_categories: @calendar.filter_categories,
                      filter_locations: @calendar.filter_locations }
  %>
  <div id="calendar-box" class="col-xs-12 col-sm-9 col-sm-pull-2">
    <% if @calendar.in_progress.size > 0 %>
        <%= render partial: 'day', object: @calendar.in_progress, locals: { id: 'inProgress' } %>
    <% end %>

    <% @calendar.days.each do |day| %>
        <%= render partial: 'day', object: day, locals: { id: day.date}  %>
    <% end %>
    </br>
    <div class="row center-block end-of-events">
      <p class="text-center text-uppercase"><%= t '.end_of_events' %></p>
    </div>
  </div>
</div>