<%= render partial: 'navigation' %>
<h2><%= "#{@view} - #{t("analytics.notes.#{@view}", default: '')}" %></h2>
<div class="timeseriesOptions">
  <%= form_tag(analytics_timeseries_path, method: :get, authenticity_token: false) do %>
    <%= hidden_field_tag :view, @view %>
    <%= label_tag(:interval, 'Interval') %>
    <%= select_tag(:interval, options_for_select(AnalyticsService::VALID_INTERVALS, @interval)) %>
    <%= submit_tag 'Go' %>
  <% end  %>
</div>

<table class="table">
  <thead>
  <tr>
    <th><%= @interval.titleize %></th>
    <th>Visits</th>
  </tr>
  </thead>
  <% @timeseries.each do |date, count|  %>
      <tr>
        <td><%= date %></td>
        <td><%= count %></td>
      </tr>
  <% end   %>
</table>
