<div class="card" href="#">
    <div class="card__layout">
        <div class="card__media">
            <img src="http://lorempixel.com/450/305">
        </div>
        <div class="card__text">
            <div class="card__header">
                <div class="card__date">
                    <%= presenter.date %>
                </div>
                <div class="card__place">
                    <%= presenter.location %>
                </div>
            </div>
            <div class="card__main">
                <h1 class="card__title">
                    <%= presenter.card_title %>
                </h1>
                <%= presenter.teaser %>
                <div class="card__more">
                    <%= presenter.more_description %>
                </div>
            </div>
        </div>
        <a href="#" class="card__toggle js-toggle-card"></a>
    </div>


