<%
   data_attrs = {
    categories: event.categories.collect(&:id).join(' '),
    location: event.location.display_name.parameterize(separator: '_'),
    role: 'event'
   }
%>
<%  data_attrs.merge!(rule: 'weekly') if event.weekly?  %>
<%  data_attrs.merge!(parent: parent_id.to_s) if defined? parent_id %>

<%= content_tag :div, class: 'event-container row', data: data_attrs do %>

  <%= schema_json(event) %>
  <%# In mobile view the title line is broken up into two lines %>
  <span class="col-xs-12 col-md-6 col-md-push-2 event-title">
      <%= link_to(title_display(event), event) %>
  </span>

  <span class="col-xs-2 col-md-2 col-md-pull-6">
    <%# In the frontpage context we don't show a date, otherwise, do. %>
    <% if defined? show_date %>
        <%= I18n.localize(event.start_time.to_date, format: :brief)  %>
    <% else %>
        <%= format_starttime(event.start_time) %>
    <% end %>
  </span>

  <span class="col-md-2 hidden-xs categories">
    <%= categories_as_string(event.categories) %>
  </span>
  <span class="col-md-2 pull-right">
  <a href="<%= url_for(event.location) %>"title="<%= event.location.description.truncate(120) %>"
     data-toggle='popover' data-placement='top' data-trigger="click hover focus" data-html="true">
    <%= event.location.display_name %>
  </a>
  </span>

<% end %>
