<% events.each do |event| %>
<div class='event-container' data-category="<%= event.category       %>">
  <span class='event-category'><%= event.category %> </span><strong><%= event.title %></strong>
  <span><%= event.location %></span>
  <div class='event-details'>
    <p><%= event.description %></p>
    <p><strong>Starter: </strong><%= format_datetime(event.start_time) %></p>
    <p><strong>Slutter: </strong><%= format_datetime(event.end_time) %></p>
  </div>
</div>
<% end %>