
<div class='event-container'
     data-categories="<%= categories_as_string(event.categories) %>"
     data-location="<%= event.location.display_name.parameterize('_') %>"
     data-role="event" data-parent="<%= parent_id if defined? parent_id%>">
  <%= link_to '', '#', name: event.id, data: { remote: true } %>


  <span class="event-topbar_js">
      <%# In mobile view the title line is broken up into two lines %>
       <span class="col-xs-12 col-md-7 col-md-push-1 event-title">
       	<%= title_display(event) %>
	    </span>

      <span class="col-xs-2 col-md-1 col-md-pull-7">
          <%# In the frontpage context we don't show a date, otherwise, do. %>
        <% if defined? show_date %>
              <%= I18n.localize(event.start_time.to_date, format: :brief)  %>
          <% else %>
              <%= format_starttime(event.start_time) %>
          <% end %>
      </span>
      
      <span class="col-md-2 hidden-xs">
        <% event.categories.each do |cat| %>
            <span class=""><%= cat.send(t(:language)).titleize %></span>
        <% end %>
      </span>
      <span class="col-md-2 pull-right">
      <a href="<%= url_for(event.location) %>"title="<%= event.location.description.truncate(120) %>"
         data-toggle='popover' data-placement='top' data-trigger="click hover focus" data-html="true">
        <%= event.location.display_name %>
      </a>
      </span>



   	</span>
    <span class="col-xs-5 col-md-2">

    </span>

  <div class='event-details'>
    <% if event.picture.url(:thumb).present? %>
        <%= link_to event do %>
            <%= image_tag event.picture.url(:thumb) if event.picture.present? %>
        <% end %>
    <% end %>
    <div class="col-xs-12 col-md-11 col-md-offset-1">
      <p>
        <%= "#{t('.posted_by')} #{link_to(username(event.user), event.user)  if event.user}".html_safe %>
      </p>
    </div>
    <div class="col-xs-12 col-md-8 col-md-offset-1">
      <p> <%= event.short_description.truncate(160, separator: ' ') %></p>
      <p><%= link_to t('.see_more'), event %> </p>
    </div>
  </div>
</div>
<div class="row"></div>
