<%= simple_form_for @event, html: { class: 'form-horizontal' }, defaults: {
                            wrapper_html: { class: 'form-group' }, input_html: { class: 'form-control' } } do |f| %>
    <%= f.input :title %>
    <%= f.input :short_description, maxlength: 200 %>
    <%= f.input :long_description, required: false %>
    <div class="row">
        <div class="col-xs-12 col-sm-5">
            <%= f.association :categories, label_method: :key, input_html: {
                    id: 'event-category-dummy',
                    class: 'combobox category-combobox', data: { target: 'selected-categories'}
            } %>
          <span id="new-category-box">
          </span>
          <div data-role="selected-categories"></div>
          <input name="event[category_ids][]" id="category-ids" class="hidden" value=""/>
        </div>
        <div class="col-xs-12 col-sm-5 col-sm-offset-1">
            <%= f.association :location, prompt: 'Choose location', input_html: { class: 'combobox location-combobox' } %>
          <ul data-role="selected-locations"></ul>
        </div>
    </div>
    <%= f.input :price, placeholder: t('.price_prompt') %>

    <div class="row">
        <div class="col-xs-12">
          <%= f.input :start_time, as: :string, input_html: { data:{
                  function: 'datetime-picker', 'date-format' => 'DD/MM/YYYY HH:mm' }} %>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <%= f.input :end_time, as: :string, input_html: { data: {
                    function: 'datetime-picker', 'date-format' => 'DD/MM/YYYY HH:mm' }} %>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <%= f.input :comments_enabled, label: t('.enable_comments'),
                  wrapper_html: { class: 'checkbox' }, input_html: { class: 'checkbox'},
                 label_html: { class: 'override'}
            %>
            <%= f.button :submit %>
        </div>
    </div>
<% end %>