<div id="bloodhound">

</div>

<%= simple_form_for @event, html: { multipart: true, class: 'form-horizontal' }, defaults: {
                            wrapper_html: { class: 'form-group' }, input_html: { class: 'form-control' } } do |f| %>


    <div class="row">
      <div class="col-xs-12">
        <%= f.input :title %>
      </div>
      </div>
      <% if @event.persisted? %>
      <div class="row">
          <div class="col-xs-12">
            <%= f.input :cancelled, wrapper_html: { class: 'checkbox' },
                        input_html: { class: 'checkbox'}, label_html: { class: 'override'} %>
          </div>
      </div>
      <% end %>

    <div class="row">
      <div class="col-xs-12">
        <%= f.label :picture %>
        <span class="btn btn-default btn-file">
        <span id="js_button_text"><%= t '.choose_file' %></span>
          <%= f.input :picture, label: false %>
        </span>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <%= f.input :short_description, maxlength: 200 %>
      </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-5">
          <div class="input select required form-group event_categories">
          <%= f.label :categories %>
            <%= text_field_tag(
                'category-typeahead', nil, placeholder: t('.choose_category'), class: 'typeahead form-control',
                data: {
                        api_path: categories_path,
                        remote_path: new_category_path,
                        label: t('.new_cat_button'),
                        display_key: 'key',
                        header: t('.typeahead_header'),
                        target: 'selected-categories',
                        multiple: true,
                        empty_message: t('.empty_category')
                }
            )
            %>

          <span id="new-category-box">
            <% @event.categories.each do |cat| %>
              <%= category_tag(cat.id, cat.key) %>
            <% end %>
          </span>
          </div>
          <div data-role="selected-categories"></div>
          <input name="event[category_ids][]" id="category-ids" class="hidden" value=""/>
        </div>
        <div class="col-xs-12 col-sm-5 col-sm-offset-1">
          <%= f.label :location %>
          <%# If we already have a location the placeholder should be that location's name %>
          <% location_name = @event.location.display_name rescue nil %>
          <%= text_field_tag(
                      'location-typeahead', location_name,
                      placeholder: "#{location_name || t('.choose_location')}",
                      class: "typeahead form-control",
                      data: {
                              api_path: locations_path,
                              remote_path: new_location_path,
                              label: t('.create_location'),
                              display_key: 'name',
                              header: t('.typeahead_header'),
                              target: '#event_location_id',
                              empty_message: t('.empty_location')
                      }
              )
          %>

        <%= f.input :location_id, as: :hidden %>

        </div>
    </div>


    <div class="row">
        <div class="col-xs-12 col-sm-5">
          <%= f.input :start_time, as: :string, input_html: { data:{
                  function: 'datetime-picker', 'date-format' => 'DD/MM/YYYY HH:mm' }} %>
        </div>
        <div class="col-xs-12 col-sm-5 col-sm-offset-1">
        <%= f.input :end_time, as: :string, input_html: { data: {
                function: 'datetime-picker', 'date-format' => 'DD/MM/YYYY HH:mm' }} %>
        </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <%= f.input :link, as: :url %>
      </div>
    </div>

    <%# event price field should only be shown a) if there is already a price
    or b) if the user has checked this box to say that there is a price
    Note the javascript hooks on the data elements. %>
    <% if @event.price.blank? %>
    <div class="input boolean optional event_price_enabled checkbox">
      <label class="boolean optional control-label override checkbox" for="event_price_enabled">
        <input class="boolean optional checkbox" id="event_price_enabled"
               name="event[price_enabled]" value="1" type="checkbox"
               data-function="show" data-target=".event_price" data-hide=".event_price_enabled">
        <%= t '.enable_price' %>
      </label>
    </div>
    <% end %>

    <div class="row">
      <div class="col-xs-12">
        <% is_visible =  @event.price.present? ? ' ' : 'hidden' %>
        <%= f.input :price, wrapper_html: { class: is_visible } %>
      </div>
    </div>
  <br/>
    <div class="row">
      <div class="col-xs-12">
        <%= f.button :submit, class: 'btn btn-primary' %>
      </div>
    </div>
  <br/>
<% end %>
<%= render partial: 'layouts/modal_wrapper' %>
