<h1>Listing events</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Creator</th>
      <th>Description</th>
      <th>Location</th>
      <th>Category</th>
      <th>Start time</th>
      <th>End time</th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
        <tr>
          <td><%= event.title %></td>
          <td><%= event.creator %></td>
          <td><%= event.description %></td>
          <td><%= event.location %></td>
          <td><%= event.category %></td>
          <td><%= event.start_time %></td>
          <td><%= event.end_time %></td>
          <td><%= link_to 'Show', event %></td>
          <td><%= link_to 'Edit', edit_event_path(event) %></td>
          <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
  </tbody>
</table>