<% @events_by_date.each do |date, events| %>
   <h2><%= date %></h2>
    <% events.each do |event| %>
      <div class='event-container'>
        <strong><%= event.title %></strong>
        <span><%= event.location %></span>
        <div class='event-details'>
          <p><%= event.description %></p>
          <p><strong>Starter: </strong><%= format_datetime(event.start_time) %></p>
          <p><strong>Slutter: </strong><%= format_datetime(event.end_time) %></p>
        </div>
      </div>
    <% end %>
<% end %>