<% content_for :meta_tags do %>
  <%= @event_presenter.fb_tags  %>
<% end %>
<%= schema_json(@event) %>
<div class="event_show">
  <% if @event.unpublished? %>
    <% no_index_rule %>
    <%= bootstrap_info(t('.unpublished_explanation')) %>
  <% end %>
  <h1><%= @event.title %></h1>
  <%# If this event has a picture, show that, if not and it's part of a series with a picture, show that instead %>
  <% if @event.best_picture.present? %>
    <%= image_tag @event.best_picture.url(:original), title: @event.title, alt: @event.title %>
  <% end %>
  <h3>
    <%= format_daterange(@event.start_time, @event.end_time) %>
  </h3>
  <h4> 
    <%= link_to(@event.location.full_address, location_path(@event.location)) %>
  </h4>
  <p>
  <%= "#{t('events.event.posted_by')} #{link_to(username(@event.user), @event.user)  if @event.user}".html_safe %>
  </p>

  <% if @event.price.present? %>
      <p><strong><%= t 'simple_form.labels.event.price' %>: </strong><%= @event.price %></p>
  <% end %>
  <p><%= link_to(display_repetition_rule(@event.event_series), @event.event_series) if @event.event_series.present? %></p>
  <p>
    <%= auto_link(simple_format(@event.short_description)) %>
    <%= auto_link(simple_format(@event.long_description)) %>
  </p>


  <% if @event.link.present? %>
      <p>
        <%= link_to(t('.link'), @event.link) %>
      </p>
  <% end %>

  <% if current_user && current_user.can_edit?(@event) %>
      <%= link_to t(:edit), edit_event_path(@event) %> |
      <%= link_to t(:delete), event_path(@event), method: :delete, data: { confirm: t('.delete_warning') } %>
  <% end %>
   <% if current_user && @event.event_series.present? && current_user.can_edit?(@event.event_series) %>
    <hr/>
    <div class="hidden-xs">
      <%= link_to t('event_series.edit_link'), edit_event_series_path(@event.event_series) %> 
      <br/>
      <%= link_to t('event_series.delete_events_link'), delete_events_event_series_path(@event.event_series), method: :delete, confirm: t('event_series.delete_events_warning', number: @event.event_series.events.size) %> 
    </div>
  <% end %>
  <% if @event.comments_enabled? %>
        <hr/>
        <%= render partial: 'events/comments/list', locals: { comments: @event.comments } %>
        <%= render partial: 'comments/form', locals: { event: @event, show_form: false } if user_signed_in? %>
  <% end %>
</div>