<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.short_description %>
  <%= @event.long_description %>
</p>

<p>
  <strong>Location:</strong>
  <%= link_to(@event.location.name, location_path(@event.location)) %>
</p>
<%= render partial: 'comments', object: @event.comments %>
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>