<div class="event_show">
  <h1><%= @event.title %></h1>
  <%= image_tag @event.picture.url(:original) if @event.picture.present? %>
  <h3>
    <%= format_daterange(@event.start_time, @event.end_time) %>
    <%#= format_datetime(@event.start_time) %>  <%#= format_datetime(@event.end_time) %>
  </h3>
  <h4>
    <%= link_to(@event.location.full_address, location_path(@event.location)) %>
  </h4>
  <% if @event.price.present? %>
      <p><strong><%= t 'simple_form.labels.event.price' %>: </strong><%= @event.price %></p>
  <% end %>

  <p>
    <%= simple_format(@event.short_description) %>
    <%= simple_format(@event.long_description) %>
  </p>



  <% if @event.link.present? %>
      <p>
        <%= link_to(t('.link'), @event.link) %>
      </p>
  <% end %>
  <% if @event.comments_enabled? %>
      <div class="hidden-xs">
        <hr/>
        <%= render partial: 'events/comments/list', locals: { comments: @event.comments } %>
        <%= render partial: 'comments/form', locals: { event: @event, show_form: false } if user_signed_in? %>
      </div>
  <% end %>
  <div class="hidden-xs">
    <%= link_to t(:edit), edit_event_path(@event) %> |
    <%= link_to t(:back), events_path %>
  </div>
</div>