<div class="row">
  <div class="col-sm-4">
    <%= link_to(new_registration_path(User), class: 'btn btn-primary') do %>
        <p><strong><%= t('accounts.standard.title') %></strong></p>
        <p><%= t('accounts.standard.explanation').html_safe %></p>
    <% end %>
  </div>
  <div class="col-sm-4">
    <%= link_to({ controller: '/anonymous_user', action: 'new' }, { class:  'btn btn-warning' }) do  %>
        <p><strong><%= t('accounts.onetime.title') %></strong></p>
        <p><%= t('accounts.onetime.explanation').html_safe %></p>
    <% end %>
  </div>
</div>