<hr/>
<% if comments.length > 0 %>
 <h4><%= t '.title' %></h4>

 <% comments.each do |comment| %>
    <div class="comment-container_js">
    <span>
      <%= link_to(t('.edit'), edit_event_comment_path(comment.event.id, comment.id),
                  remote: true, data: {target: "comment-data_#{comment.id}"} )
      %>
    </span>
    <p>
      <b> <%= comment.user.username %></b>
      <%= comment.content %>
    </p>
    </div>
     <%= content_tag 'div', "Data loading...", class: 'hidden',
                     id: "comment-data_#{comment.id}" %>
 <% end %>
<% end %>

