<% if comments.length > 0 %>
    <h4><%= t '.title' %></h4>

    <% comments.each do |comment| %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <strong><%= username(comment.user) %></strong>
            <% if current_user && current_user.can_edit?(comment) %>
                <span class="pull-right">
                    <%= link_to(t('.edit'), edit_event_comment_path(comment.event.id, comment.id))
                    %>
                </span>
            <% end %>
          </div>
          <div class="panel-body">
            <p>
              <%= auto_link(simple_format(comment.content)) %>
            </p>
          </div>
        </div>
        <%= content_tag 'div', "Data loading...", class: 'hidden',
                        id: "comment-data_#{comment.id}" %>
    <% end %>
<% end %>

