<h2><%= t '.sign_in' %></h2>

<br/>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <div>
      <%= f.label :email %>
      <br />
      <%= f.email_field :email, :autofocus => true %>
    </div>

    <br/>

    <div>
      <%= f.label :password %>
      <br/>
      <%= f.password_field :password %>
    </div>
    <br/>
    <div>
      <%= f.submit  t('.sign_in'), id: 'user_sign_in', class: 'btn btn-primary' %>
      <% if devise_mapping.rememberable? -%>
          <div>
            <%= f.check_box :remember_me %> <%= f.label t('.remember_me') %>
          </div>
      <% end -%>
    </div>
    <br/>
<% end %>
<br/>
<%= render "devise/shared/links" %>
