<div>
  <p><%= @user.username %></p>
  <p>Member since: <%= format_date(@user.created_at) %></p>
  <p><%= link_to('Edit', edit_user_path(@user)) if current_user && current_user.can_edit?(@user) %></p>
  <% if !@user.is_admin? && current_user && current_user.is_admin? %>
      <p><%= button_to('Make Admin User', make_admin_user_path(@user), method: :patch)  %></p>
  <% end %>
</div>
<hr/>
<div>
  <% @user.events.each do |event| %>
    <%= render partial: 'events/event', object: event %>
  <% end %>
</div>