<div>
<%= schema_json(@user) %>
  <h2><%= @user.username %></h2>
  <p><%= "#{t('member_since')}: #{format_date(@user.created_at.to_date)}" %></p>
  <% if !@user.is_admin? && current_user && current_user.is_admin? %>
      <p><%= button_to('Make Admin User', make_admin_user_path(@user), method: :patch, data: { confirm: 'Are you sure?' })  %></p>
  <% end %>
</div>
<hr/>
<div>
  <h2><%= t :coming_events %></h2>
  <% @user.coming_events.each do |event| %>
    <%= render partial: 'events/event', object: event, locals: { show_date: true } %>
  <% end %>
</div>