
<h2><%= t '.title' %></h2>
</br>
<%= simple_form_for @user, url: url_for(controller: 'anonymous_user', action: 'create') do |f| %>
    <%= f.input :username %>
    <%= f.input :password, as: :hidden %>
	</br>
    <%= f.submit t('.create'), class: 'btn btn-primary' %>
<% end %>
</br>
<div class="row col-sm-8">
<%= t '.explanation' %>
</div>

