
<h1><%= t '.title' %></h1>

<%= simple_form_for @user, url: url_for(controller: 'anonymous_user', action: 'create' ) do |f| %>
    <%= f.input :username %>
    <%= f.input :password, as: :hidden %>
    <%= f.submit %>
<% end %>

<div class="row col-sm-8">
<%= t '.explanation' %>
</div>

