<h1><%= @location.name %></h1>

<p><%= @location.description %></p>
<p><%= @location.street_address %></p>
<p><%= @location.postcode %></p>
<p><%= @location.town %></p>

<%= link_to 'Edit', edit_location_path %>
<%= link_to 'Delete', location_path, method: :delete, data: { confirm: 'Are you sure?' } %>

<div>
  <h2><%= t :coming_events %></h2>
  <% @location.events.each do |event| %>
      <%= render partial: 'events/event', object: event, locals: {show_date: true} %>
  <% end %>
</div>