<!DOCTYPE html>
<html>
<head>
  <title>DetSker</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    <%#
    Make our translations accessible to javascript
    Note that it needs to be here rather than in javascript
    as javascript will be precompiled makings its variables static.
    #%>
    window.i18n = <%= current_translations.to_json.html_safe %>;
    window.locale = '<%= I18n.locale %>';
  </script>
</head>
<body>
<div class="container">
	<div class="row">
		<div class="lang-selection col-xs-6">
			<%= render partial: 'layouts/lang_selector' %>
		</div>
		<div class="login-button col-xs-6">
	  		<% if current_user %>
              <%= link_to t('.my_page'), current_user %>
              <%= link_to t('.logout'), destroy_user_session_path, method: :delete %>
  	  		<% else %>
      			<%= link_to t('.login'), user_session_path %>
  	  		<% end %>
		</div>

	</div>
  <div class="row">
    <div class="header-text col-xs-12">
        <%= link_to image_tag("dukopheader.png", alt:"DukOp logo", width:"80%", height:"80%"), root_path %>
    </div>
    <div class="tagline-text">
      <p>Duk dig ikke, duk op!</p>
    </div>
  </div>

  <!-- Menu navigation bar -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="menu-text"><%= link_to t('.calendar'), root_path %></li>
          <li class="menu-text"><%= link_to t('.about'), page_path('about') %></li>
          <li class="menu-text"><%= link_to t('.locations'), locations_path %></li>
        </ul>
      </div>

    </div>
  </nav>
  
</br>
  <div class="row">
     <% if notice.present? %>
        <div class="alert alert-success" role="alert"><%= notice %></div>
     <% end %>
    <% if alert.present? %>
        <div class="alert alert-danger"><%= alert %></div>
    <% end %>
  </div>
	<%= yield %>
		</div>
	</div>
</div>
</body>
</html>
