<!DOCTYPE html>
<html>
<head>
  <title>DetSker</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    <%#
    Make our translations accessible to javascript
    Note that it needs to be here rather than in javascript
    as javascript will be precompiled makings its variables static.
    #%>
    window.i18n = <%= current_translations.to_json.html_safe %>;
    window.locale = '<%= I18n.locale %>';
  </script>
</head>
<body>
<div class="container">
	<div class="row">
		<div class="lang-selection col-xs-4 col-xs-offset-4 col-sm-2 col-sm-offset-8">
			<%= render partial: 'layouts/lang_selector' %>
		</div>
		<div class="login-buttons col-xs-4 col-xs-offset-4 col-sm-2 col-sm-offset-0">
	  		<% if current_user %>
    	  		<%= link_to t('.logout'), destroy_user_session_path, method: :delete %>
  	  		<% else %>
      			<%= link_to t('.login'), user_session_path %>
  	  		<% end %>
		</div>


	</div>
  <div class="row">
    <div class="header-text col-xs-12">
        <%= link_to 'Evenio', root_path %>
    </div>
    <div class="tagline-text">
      <p>Tagline, tagline and more tagline!</p>
    </div>
  </div>
  <div class="row">
	 <span class="notice"><%= notice %></span>
	 <span class="alert"><%= alert %></span>
  </div>
	<%= yield %>
		</div>
	</div>
</div>
</body>
</html>
