<!DOCTYPE html>
<html>
<head>
  <title>DetSker</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="login-buttons">
  <%= link_to t('.login'), user_session_path %>
  <%= link_to t('.logout'), destroy_user_session_path, method: :delete %>
</div>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
