<!DOCTYPE html>
<html>
<head>
  <title>DetSker</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
	<div class="row">
<%= render partial: 'layouts/lang_selector' %>
	</div>

<div class="row">
<div class="login-buttons">
  <% if current_user %>
      <%= link_to t('.logout'), destroy_user_session_path, method: :delete %>
  <% else %>
      <%= link_to t('.login'), user_session_path %>
  <% end %>
</div>
</div>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>
</div>
</body>
</html>
